# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# These files aren't really important, but I'll happy check them in
.vscode
yarn.lock
.prettierrc.js
.eslintrc.js